@font-face {
  font-family: RockoFLF;
  src: url(fonts/RockoFLF.ttf);
}

@font-face {
  font-family: RockoFLF-Bold;
  src: url(fonts/RockoFLF-Bold.ttf);
}

@font-face {
  font-family: GraphikLight;
  src: url(fonts/GraphikLight.otf);
}

@font-face {
  font-family: GraphikRegular;
  src: url(fonts/GraphikRegular.otf);
}


body {
  background-color: #0FCF73;
  font-family: RockoFLF;
  font-size: 18px;
}

button {
  padding: 10px;
  background-color: white;
  color: #0FCF73;
  border-radius: 8px;
  border: none;
  font-family: RockoFLF-Bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  width: 150px;
}

button:hover {
  opacity: 100%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}

.typeform-share:hover {
  opacity: 100%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  letter-spacing: 2px;
  font-size: 60px;
}

h2 {

}

h3 {
  font-family: GraphikRegular;
  letter-spacing: 0.5px;
  color: #E4FFCE;
  font-size: 30px;
  line-height: 1.5;
}

.header {
  padding: 1.5% 5% 1.5% 5%;
  color: white;
  margin: 100 auto;
  align-items: center;
  border-bottom: .5px solid #79E7A1;
}

.logo {
  width: 18%;
}

.nav {
  float: right;
  align-items: center;
  padding-top: .5%;
}

.nav-item {
  padding: 10px;
  color: #E4FFCE;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.nav-item:hover {
  color:white;
}

.left {
  width: 40%;
  float: left;
  padding: 8% 0% 6% 0%;
  padding-left: 8%;
}

.right {
  float: left;
  width: 45%;
  padding-top: 4%;
}

.mentor {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 28px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.10);
}

.mentor:hover {
  border-radius: 28px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.body-button {
  width: 240px;
  font-size: 22px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.colleges {
  position: absolute;
  bottom: 0 !important;
  background-color: white;
  width: 100%;
  left: 0 !important;
  align-items: center;
}

.college {
  border-radius: 4px;
  background-color: white;
  float: left;
  margin-left: 20px;
  padding: 10px;
}

.college img {
  height: 50px;
}

#mentor-signup {
  background-color: #E4FFCE;
}
#slideshow {
  margin: 50px auto;
  position: relative;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}


.survey {
  text-align: center;
  height: 32%;
  margin: a auto;
  align-items: center;
  width: 54%;
  left: 0 !important;
  position: absolute;
  padding: 10% 24%;
}

.survey p {
  font-family: GraphikRegular;
  font-size: 28px;
  line-height: 1.5;
  color: white;
  opacity: 80%;

}

.survey img {
  height: 150px;
}

.survey h1 {
  color: white;
  font-size: 48px;
  margin-bottom: -10px;
}

.blob {
  height: 350px;
  width: 350px;
  filter: blur(100px);
  position: absolute;
  border-radius: 100%;
  opacity: 50%;

}

#one {
  background-color: #A9FF92;
  bottom:-200px;
  left: -100px;
  z-index: 10;
  opacity: 50%;

}

#three {
  background-color: #57FFF5;
  top:200px;
  right: -250px;
}

#two {
  background-color: #57FFF5;
  bottom: -200px;
  left: -100px;
}

#four {
  background-color: #A9FF92;
  top: 100px;
  right: -100px;
  z-index: 10;
  opacity: 70%;
}
